@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Biemvenido a la mejor Red Social del mundo</h1>
    <p>Registrate y conectate con tus amigod <a href="https://www.facebook.com/">Red Social</a>.</p>
</div>
